@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
  --col3: #3d3d4d;
  --col2: #34343c;
  --col1: #1c1c1c;
  --colBorder: #4d4d58;
  
  font-family: 'Rubik', sans-serif;
}

.invertCol{
  animation: toFilter 0.5s;
  filter: invert(1);
}

body{
  background: var(--col1);
}

#beta{
  position: absolute;
  margin: 41px 0 0 132px;
  font-size: 0.9em;
  color: rgb(43, 128, 255);
}

#backBtn{
  position: absolute;
  margin: 30px;
  width: 30px;
  height: 30px;
  fill: white;

  display: none;
  animation: fadeIn 1s;
}

#info{
  overflow-y: scroll;
  max-height: calc(100vh - 20px);
  animation: fadeIn 1s;
}

#info-bar{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 3em;
}

.mgb15{
  margin-bottom: 15px;
}

#info-bar-holder{
  width: calc(100vw - 570px);
  height: 100px;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  background-size: 1200px 400px;
  background-position: center;
  margin: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
  background-repeat: no-repeat;
  border-radius: 0.25em;
}

#error{
  display: none;
  animation: fadeIn 1s;
}

#error-holder{
  width: calc(100vw - 270px);
  height: 100px;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  margin-bottom: 50px;
  margin-top: 50px;
}

#erCapsule{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text-holder{
  margin: 10px 10px 10px 100px;
  width: calc(100vw - 570px);
  padding-bottom: 20px;
}

.text{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: #dedde6;
  line-height: 28px;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0 10px 0;
}

#creator {
  -webkit-background-clip: text;
          background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#09f1b8), color-stop(#00a2ff), color-stop(#ff00d2), to(#fed90f));
  background-image: -o-linear-gradient(left, #00a2ff, #ff00d2, #fed90f);
  background-image: linear-gradient(to right, #00a2ff, #ff00d2, #fed90f);

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

}

a{
  color: rgb(43, 128, 255);
}

#logo{
  width: 10px;
  height: 10px;
}

#logo-svg{
  filter: invert(100%);
}

#top-bar{
  display: flex;
  align-items: center;
  font-size: 1.1em;
  color: #FFF; 
  margin-left: 20px;
}

#main{
  width: 100%;
  display: flex;
}

#sidebar {
  color: #fff;
  max-height: calc(100vh - 125px);
  overflow-y: auto;
  padding: 0 0 1.25rem 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 330px;
  border-radius: 0.5em;
  animation: fadeIn 1s;
  margin-left: 15px;
  max-width: 400px;
}

.sidebar-title {
  color: #f5f5f5;
  font-size: 1.1rem;
  letter-spacing: .5px;
  margin: 0 0 0.7rem 8px;
  padding: 0 0 1rem 0;
}

.sidebar-section{
  background: #2c2c34;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
  padding-bottom: 10px;
}

.sidebar-section-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoBtn{
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  background: none;
  filter: invert(35%);
  margin-right: 15px;
  border-radius: 50%;
}

.infoBtn:hover{
  filter: invert(50%);
}

.sidebar-section-header{
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  height: 100%;
  outline: none;
  padding: 3px 0 0 .4125rem;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  z-index: 10;
  margin: 7px;
  margin-bottom: 10px;
  color: #FFF;
}

.mini-header{
  align-items: center;
  background: transparent;
  border: 0;
  display: flex;
  font-size: 10px;
  outline: none;
  padding: 3px 0 0 .4125rem;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  z-index: 10;
  margin: 7px;
  margin-bottom: 3px;
  color: #d3d3eb;
  font-size: 1em;
}

.input {
  border: 1px solid var(--colBorder);
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 1rem;
  position: relative;
  white-space: nowrap;
  margin: 0 10px 0 10px;
  
  background: #373742;
  border-radius: 6px;
}

.input-prefix{
  margin-left: 5px;
}

.inner-input{
  width: 100px;
  background: none;
  border: 0;
  color: #e3e3e3;
  font-size: .9375em;
  max-width: 100%;
  outline: none;
  padding: .21em .3em;
  position: relative;
}

.tickbox, .tickbox2{
  display: flex;
}

.ticker, .ticker2{
  margin: 0;
  width: 25px;
  height: 25px;
  margin: 6px -5px 0 10px;
  border-radius: 0.25em;
  background-color: var(--col3);
}

.ticker2{
  transform: translateX(-45px);
}

.tickbox input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 25px;
  height: 25px;
  margin: 6px -5px 0 10px;
  z-index: 4;
}

.tickbox2 input {
  cursor: pointer;
  opacity: 0;
  width: 25px;
  height: 25px;
  margin: 6px -5px 0 10px;
  z-index: 4;
}

.tick{
  width: 15px;
  height: 15px;
  margin: 11px -5px 0 15px;
  background: rgb(70,70,80);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 50%;
  z-index: 2;
}

.tick2{
  width: 15px;
  height: 15px;
  margin: 11px -5px 0 15px;
  background: rgb(70,70,80);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  z-index: 2;
  transform: translateX(-75px);
}

.tickbox input:checked ~ .tick {
  background: rgb(43, 128, 255);
}

.tickbox2 input:checked ~ .tick2 {
  background: rgb(43, 128, 255);
}

#formContainer, #formContainer2{
  display: none;
  transition-timing-function: ease;
  max-height: min-content;
  animation: rollOut 1s ease 0s forwards;
}

.formRow{
  display: flex;
  align-items: center;
}

.input-suffix{
  margin-right: 5px;
}

#YI, #returnInput{
  width: 30px;
}

.lightMode{
  background: var(--col2);
  border: none;
  border-radius: 0.25em;
  padding: 5px 15px 5px 15px;
  color: var(--colBorder);
  margin-top: 10px;
  transition: color 0.5s;
}

.lightMode:hover{
  color: beige;
}

#runBtn{
  width: 100%;
  height: 40px;
  border-radius: 0.3em;
  background: rgb(43, 128, 255);
  border: none;
  color: #FFF;
  font-size: 1.05em;
  cursor: pointer;
}

#runBtn:hover{
  background: rgb(23, 108, 235);
}

.error-message{
  margin: 10px;
  margin-bottom: 0;
  height: 32px;
  display: flex;
  background: var(--col1);
  padding: 5px;
  border-radius: 0.25em;
  animation: fadeIn 1s;
}

.error-content{
  text-align: center;
  line-height: 32px;
  padding-left: 10px;
}

.error-symbol{
  stroke: rgb(255, 128, 0);
  min-width: 32px;
}

.mini-error-symbol{
  stroke: rgb(255, 128, 0);
  width: 25px;
  height: 100%;
}

.choose-error{
  line-height: 16px;
}

#er-1a, #er-1b, #er-2{
  display: none;
}

#popup{
  width: 400px;
  display: none;
  position: absolute;
  background: rgb(32, 32, 37);
  border: 1px solid var(--colBorder);
  border-radius: 0.5em;
  animation: fadeIn 1s;
  padding: 20px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: fit-content;
}

#popup-title{
  color: white;
  display: flex;
  font-size: 1.3em;
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--colBorder);
  width: calc(100% - 20px);
  justify-content: space-between;
  align-items: center;
}

.popup-content{
  padding: 10px;
}

.small-title{
  margin-bottom: 3px;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}

.small-content{
  color: rgb(211, 211, 235);
  margin-bottom: 20px;
}

#closeBtn{
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  background: none;
  fill: rgb(151, 151, 170);
  z-index: 4;
}

#title-content{
  font-size: 1.7em;
}

#closeBtn:hover{
  fill: rgb(191, 191, 210);
}

.fadeOutClass{
  animation: fadeOut 0.5s ease 0s forwards;
}

#pca, #pcb, #pcc, #pcd{
  display:none;
}

#results{
  display: none;
  align-items: stretch;
  flex-direction: column;
  padding: 60px;
  padding-top: 25px;
  margin: auto;

  height: calc(100vh - 105px);
  overflow-y: scroll;

  min-width: 1030px;
  max-width: 1030px;

  animation: fadeIn 1s;
}

.results-title{
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 1.875rem;
  font-weight: 800;
}

#resultsSubtitle{
  color: #a8a8ba;
}

#assumptionsTable, #assumptionsTable2, #assumptionsTable3, #assumptionsTable4{
  color: #a8a8ba;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 0.8em;
  margin-top: 20px;
}

.assumtions-table-el{
  text-align: left;
  border-radius: 0.5em;
  border: 1px solid rgb(48, 48, 48);
  margin-top: 10px;
  flex-basis: 49%;
  min-width: 250px;
}

.assumtions-table-row{
  padding: 10px 20px 10px 20px;
  margin: 0;
  font-size: 1.2em;
  
  display: flex;
  background: var(--col1);
  border-top: 1px solid rgb(48, 48, 48);
  justify-content: space-between;
  align-items: center;
}

.an2{
  text-align: right;
}

.an3{
  font-size: 0.9em;
  text-align: right;
}

.cols :first-child{
  color: #9a9a9a;
}

.cols :last-child{
  color: #6b6b6b;
}

.at-title{
  background: var(--col2);
  border-radius: 0.35em 0.35em 0 0;
  color: white;
  font-size: 1.4em;
}

.table-el{
  margin: 0;
  padding: 0;
}

.summary-title{
  color: whitesmoke;
  font-size: 2em;
  margin-right: 10px;
}

#summary-blocks-holder{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

#total-earned-block, #lowest-charge-platform, #lowest-charge-block{
  min-width: fit-content;
  background: #2c2c34;
  padding: 17px;
  border-radius: 0.25em;
  margin: 0 10px 15px 0;
  color: #c0c0d2;
  font-size: 0.9em;
}

#totalEarnedVal, #lowestPlatformVal, #lowestChargeVal{
  color: whitesmoke;
  font-size: 1.8em;
}

#totalEarnedVal{
  color: greenyellow;
}

#broker-blocks-holder{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  min-height: 230px;
  padding: 1px;
}

.broker-block{
  background: var(--col2);
  color: #d3d3eb;
  border-radius: 0.25em;
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  padding: 14px;

  margin: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.broker-block-title{
  font-size: 1.3em;
  color: #fff;
  margin-bottom: 5px;
}

.broker-block-subtitle{
  font-size: 0.95em;
  color: #c0c0d2;
}

.broker-block-final-val{
  font-size: 1.6em;
  margin-bottom: 10px;
}

.broker-block-fees{
  display: flex;
  font-size: 1.2em
}

.eq{
  margin: 0 10px 0 10px;
  color: greenyellow;
}

.radioBtnHolder{
  width: 68px;
  height: 34px;
  border-radius: 0.25em;
  background: var(--col2);
  margin: 0 10px 0 10px;
  line-height: 36px;

  display: none;
}

.radioBtn{
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
}

.radioBtn :hover{
  background: blue;
}

.radioBtnName{
  color: white;
  text-align: center;
  font-size: 1em;
  margin: 0;
}

#flexibleTitle{
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.active{
  width: 66px;
  height: 32px;
  border: 1px solid rgb(43, 128, 255);
  line-height: 34px;
}

#broker-block-hints{
  display: flex;
  color: white;
  justify-content: space-between;
  color: rgba(224,226,255,.6);
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 10px;
}

#graph1Holder, #graph2Holder{
  min-height: 200px;
  flex-basis: 49%;
  min-width: 250px;

  border: 1px solid var(--colBorder);
  border-radius: 0.5em;
  margin-top: 11px;
}

#graph1, #graph2{
  height: 250px;
}

.cluster-holder{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.active2{
  outline: 1px solid rgb(43, 128, 255);
}

#broker-info{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

#mgt0{
  margin-top: 0;
}

#finalEl{
  line-height: 28px;
}

#assumptionsTable2, #assumptionsTable3, #assumptionsTable4{
  margin-top: 0;
  height: 250px;
  width: 250px;
}

#barChart, #fillerSec {
  width: 220px;
  height: 243.5px;
  display: flex;
  gap: 15px;
  padding: 5px 15px 0 15px;
  align-items: flex-end;
  padding-bottom: 0;
  outline: 1px solid var(--col3);
  border-radius: 0.25em;
    
}

.bar{
  flex-grow: 1;
}

.bar-body{
  height: 100px;
  outline: 1px solid rgb(43, 128, 255);
  background: rgb(27, 42, 66);
  border-radius: 0.15em 0.15em 0 0;
  min-height: 20px;
}

.bar-tag{
  color: rgb(168, 168, 186);
  width: 41px;
  text-align: center;
  font-size: 0.9em
}

.compact-tel{
  width: 150px;
}

.extra-title{
  margin: 20px 0 10px 0;
}

#filler1, #filler2, #filler3{
  height: 12px;
  border-radius: 0 0 0.25em 0.25em;
  background-image: linear-gradient(45deg, #1c1c1c 25%, #34343c 25%, #34343c 50%, #1c1c1c 50%, #1c1c1c 75%, #34343c 75%, #34343c 100%);
  background-size: 40.00px 40.00px;
  opacity: 0.2;
}

#filler2{
  height: 70px;
}

#feeBreakdown{
  width: 510px;
  height: 249px;
  border-radius: 0.45em;
  outline: 1px solid var(--col2);
}

.ex{
  height: 23px !important;
  font-size: 1.1em;
  padding: 12px 10px 10px 20px;
  border: none;
}

.bd-template{
  color: rgb(168, 168, 186);
  font-size: 1.1em;
  margin: 3px 0 3px 0;
  text-align: center;
}

.bd-template2{
  margin: 6px 0 6px 0;
  color: rgb(168, 168, 186);
}

#d1, #d2, #d3{
  display: inline-block;
  text-align: center;
}

#d1{
  width: 165px;
  padding-left: 15px;
}

#d2{
  width: 143px;
}

#d3{
  width: 155px;
}

.x14{
  font-size: 0.9em;
}

.c1{
  color: whitesmoke;
  display: inline-block;
  width: 158px;
  margin-left: 20px;
}

.c2{
  color: whitesmoke;
  display: inline-block;
  width: 140px;
}

.c3{
  color: whitesmoke;
  display: inline-block;
  width: 140px;
}

.c4{
  width: 100px;
  display: inline-block;
  font-size: 0.9em;
  transform: translate(0, 7px); 
  margin-left: 15px;
  margin-right: 5px
}

.c5{
  width: 100px;
  display: inline-block;
  font-size: 0.9em;
  transform: translate(0, 7px); 
}

.c6{
  width: 90px;
  display: inline-block;
  font-size: 0.9em;
}

.c7{
  width: 140px;
  display: inline-block;
  font-size: 0.9em;
  transform: translate(0, 7px); 
}

.c11, .c12, .c13, .c14{
  color: whitesmoke;
  display: inline-block;
}

.c11{
  margin-left: 15px;
  margin-right: 5px;
  font-size: 0.9em;
  width: 100px;
}

.c12{
  width: 100px;
}

.c13{
  width: 90px;
}

.c14{
  width: 140px;
}

.mgp{
  margin-top: 3px;
}

#total1, #etotal, #ftotal{
  background: var(--col1);
  margin: -5px;
  padding: 6.5px 10px 5px 10px;
  border-radius: 0.15em 0.7em 0.15em 0.15em;
  color: yellowgreen; 
}

.normalFeesFixed{
  margin-top: 0;
  height: 248.5px;
  width: 248px;
  border-radius: 0.5em;
  border: 1px solid var(--col2);
}

.sa{
  width: 130px;
  display: inline-block;
  color: rgb(168, 168, 186);
  text-align: center;
  margin-top: 18.5px;
  margin-left: 10px;
  font-size: 0.9em;
}

.sb{
  color: whitesmoke;
  display: inline-block;
  width: 100px;
  text-align: center;
  transform: translate(0,-10px); 
}

#source{
  color: rgb(168,168,186);
  font-size: 0.9em;
  margin: 10px;
}

.band{
  color: whitesmoke;
  background: var(--col3);
  margin: 5px;
  padding: 10px;
  border-radius: 0.2em;
}

.info-holder{
  display: flex;
}

.arrow{
  width:80px;
  height: 80px;
  fill: rgb(48, 48, 48);
  transform: translate(-15px,0); 
}

.info-holder{
  font-size: 0.9em;
  height: 80px;
  color: whitesmoke;
}

.band-info{
  margin-top: 13px;
}

#fundsBands, #sharesBands{
  overflow-y: scroll;
}

#ogBand{
  display: flex;
  justify-content: space-around;
}

#sub{
  font-size: 0.9em;
  color: var(--col1);
  line-height: 19px;
}

#fillerSec{
  background-image: linear-gradient(45deg, #1c1c1c 25%, #34343c 25%, #34343c 50%, #1c1c1c 50%, #1c1c1c 75%, #34343c 75%, #34343c 100%);
  background-size: 40.00px 40.00px;
  opacity: 0.7;
}

.results-mini-subtitle{
  color: rgb(68,68,86);
}

@media only screen and (max-width: 1526px) {
  #results{
    min-width: 770px;
    max-width: 770px;
  }
}

@media only screen and (max-width: 1258px) {
  #results{
    min-width: 510px;
    max-width: 510px;
  }
  .cluster-holder{
    display: block;
  }
}

@media only screen and (max-width: 1010px) {
  html{
    overflow: hidden;
  }
  #info{
    display: none;
  }
  #main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sidebar{
    padding: 0;
    max-height: calc(100vh - 105px);
    padding-bottom: 15px;

    width: calc(100vw - 50px);
    font-size: 1.1em;
    margin-left: 0;
  }
  #top-bar{
    margin: 0;
    justify-content: center;
  }
  .sidebar-title{
    display: none;
  }
  #results{
    padding: 1px;
    overflow-x: hidden;
  }
  #assumptionsTable, #broker-info{
    transform-origin: left top;
  }
  #total-earned-block, #lowest-charge-platform, #lowest-charge-block{
    margin-right: 0;
  }
  #summary-blocks-holder{
    flex-direction: column;
  }

  #flexibleTitle, #summary-blocks-holder, #broker-blocks-holder{
    max-width: calc(100vw - 20px);
  }
  #broker-block-hints{
    flex-direction: column;
  }
  .extra-title{
    font-size: 1em;
    max-width: calc(100vw - 20px);
    text-align: center
  }
  #popup{
    width: auto;
    margin: 10px;
  }
  #runBtn{
    margin-bottom: 10px;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0.05;}
}

@keyframes toFilter{
  from {filter: invert(0);}
  to {filter: invert(1);}
}
